html{
  background-color: #d39d5e;
}
.titlebar{
 display: block;
 width: 1127px;
 height: 90px;
 text-align: center;
 background-color: #736664;
 margin: auto;
 border: 5px solid black;
}
header{
  background-color: #736664;
  padding-bottom: 0px;
}
a{
 line-height: normal;
}

#code{
  border: 5px solid black;
  display: block;
  margin: auto;
  border-bottom: none;
}

#teamInfo{
  padding: 3px;
  font-size: 30px;
  text-align: center;
  border: 5px solid black;
  display: block;
  margin: auto;
  width: 1121px;
}
/*#space{
  display: inline-block;
  width: 259px;
}*/
#us{
  display: block;;
  margin: auto;
  width: 1127px;
  height: 800px;
  border: 5px solid black;
  border-top: none;
}
img{
  padding: 0;
  margin: 0;
}
.ourPictures{
  display: inline-block;
  width: 272px;
  height: 800px;
  border: 2px solid black;
}

#jamesHolder{
  margin-left: 5px;
}
#james{
  display: inline-block;
  width: 270px;
  height: 250px;
  border-bottom: 5px solid black;
}

#isak{
  display: inline-block;
  width: 270px;
  height: 250px;
  border-bottom: 5px solid black;
}

#erik{
  display: inline-block;
  width: 270px;
  height: 250px;
  border-bottom: 5px solid black;
}

#enrique{
  display: inline-block;
  width: 270px;
  height: 250px;
  border-bottom: 5px solid black;
}

.info{
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
}
