html{
  background-color: #d39d5e;
}
.titlebar{
 display: block;
 width: 1127px;
 height: 90px;
 text-align: center;
 background-color: #736664;
 margin: auto;
 border: 5px solid black;
}
header{
  background-color: #736664;
  padding-bottom: 0px;
}
a{
 line-height: normal;
}

#code{
  border: 5px solid black;
  display: block;
  margin: auto;
  border-bottom: none;
}

#teamInfo{
  padding: 3px;
  font-size: 30px;
  text-align: center;
  border: 5px solid black;
  display: block;
  margin: auto;
  width: 1121px;
}
/*#space{
  display: inline-block;
  width: 259px;
}*/
#james{
  display: block;;
  margin: auto;
  width: 1127px;
  height: 800px;
  border: 5px solid black;
  border-top: none;
}
