html{
  background-color: gray;
}

#code{
  border: 5px solid black;
  display: block;
  margin: auto;
  border-bottom: none;
}

#teamInfo{
  padding: 3px;
  font-size: 30px;
  text-align: center;
  border: 5px solid black;
  display: block;
  margin: auto;
  width: 1121px;
}
