html {
  background-color: #a18667;
}

.navbar {
  display: block;
  height: 120px;
  text-align: center;
  background-color: #736664;
  margin: auto;
  border: 2px solid black;
  border-bottom: none;
}

body {
  margin-top: 10px;
}

.navLinks {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  padding: 5px;
}

.navLinks:hover {
  border: 1px solid black;
  background-color: #465c5d;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.introSection {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #d39d5e;
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

fieldset {
  margin-left: 30%;
  margin-right: 30%;
}

#usernameForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

label {
  display: block;
}

.roster {
  display: inline;
  margin: auto;
  font-size: 20px;
  list-style-type: none;
  font-size: 15px;
}

li p {
  width: 600px;
  color: ##465c5d;
}

#left-roster {
  float: left;
}

#right-roster {
  float: right;
}

.rosterImgs {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.roster {
  padding-top: 20px;
  background-color: #d39d5e;
  border: 2px solid black;
}

strong {
  font-size: 22px;
}
