html {
  background-color: #a18667;
}

.navbar {
  background-color: #736664;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin-top: 100px;
}

.navLinks {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.introSection {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #d39d5e;
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

fieldset {
  margin-left: 30%;
  margin-right: 30%;
}

#usernameForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}

label {
  display: block;
}

.roster {
  display: inline;
  margin: auto;
  font-size: 20px;
}

#left-roster {
  float: left;
}

#right-roster {
  float: right;
}

.rosterImgs {
  width: 150px;
  height: 150px;
}
