body{
  /*background-image: url("../img/bgimages/aztec.jpg");
background-size: cover;*/
}

.titlebar{
  display: inline;
  width: 960px;
  height: 90px;
  text-align: center;
  background-color: red;
}

a{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

}

header {
  background-color: #a18667;
  border: solid;
  padding-bottom: 15px;
}
/*.frame{
  height: 1000px;
  width: auto;
  background-color: #88931a;
  text-align: center;
  margin: auto;
}*/
.bracket{
  display: block;
  background-image: url("../img/bgimages/bracket.png");
  background-repeat: no-repeat;
  height: 2000px;
  width: 1060px;
  text-align: center;
  margin-left:13%;
  margin-right: auto;

}

.roundOne{
  background-color: red;
  margin-bottom: 200px;
  width: 850px;
  height: 120px;

  display: block;
  text-align: center;
  position:absolute;
  top: 650px;
  left:230px;

}

.roundTwo{
  background-color: purple;
  margin-bottom: 200px;
  width: 650px;
  height: 120px;

  display: block;
  text-align: center;
  position:absolute;
  top: 525px;
  left:325px;

}

.roundThree{
  background-color: green;
  margin-bottom: 200px;
  width: 650px;
  height: 160px;

  display: block;
  text-align: center;
  position:absolute;
  top: 360px;
  left:325px;

}

.winner{
  background-color: orange;
  margin-bottom: 200px;
  width: 220px;
  height: 140px;

  display: block;
  text-align: center;
  position:absolute;
  top: 180px;
  left:545px;

}

.p1p2{
  background-color: yellow;
  margin-bottom: 200px;
  width: 350px;
  height: 180px;

  display: block;
  text-align: center;
  position:absolute;
  top: 850px;
  left:505px;
}

.answerButton{
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid;
  margin: 5px;
}
