html{
  background-color: grey;
  
}


img#lose{
  display:block;
    margin:auto;
    border: 1px solid black;
  }

p{
  text-align: center;
  font-size: 30px;
}
a{
  background-color: ;
}
.links{
  width: 300px;
  border: solid;
  border-color: black
  background-color: #736664;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
